.number{
    display: inline;
    color: rgb(62, 89, 236);
    background-color: rgb(243, 247, 225);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-weight: 900;
}